<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Here is a short overview of what I've been doing in the last 10 years</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h4>02/2013<br/>-<br/>Present</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Zeeto</h4>
                                    <h4 class="subheading">Senior Full-Stack JavaScript Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Web Application Development using Node.js, Express, Ember, Backbone.js and Redis.</p><br/>
                                    <h5>Path Manager</h5>
                                    <p class="text-muted">Company wide management and reporting tool on top of Backbone, Chaplin using CoffeeScript.</p>
                                    <h5>Zeeto Manager</h5>
                                    <p class="text-muted">Company wide management tool, an eveolution of the Path Manager, on top of Node.js &amp; Express, using Redis for caching. I foucused on building a very flexible tool for generating charts and reports directly from the collected data.</p>
                                    <h5>EMU</h5>
                                    <p class="text-muted">Email sending platform, on top of Ember, using custom content editing components.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>11/2012<br/>-<br/>02/2013</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>OpenGov</h4>
                                    <h4 class="subheading">Full-Stack JavaScript Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Web Application Development and API Design using Node.js, Express, PhantomJS, Meteor, MongoDB and AngularJS.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>06/2010<br/>-<br/>09/2012</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Poken</h4>
                                    <h4 class="subheading">Lead Web Software Engineer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>UX Design, Web &amp; Mobile Web Applications Development using PHP (Symfony), JavaScript (MooTools, jQuery), HTML5 and CSS3.</p><br/>
                                    <h5>Poken Hub</h5>
                                    <p class="text-muted">Poken's customer focused product, used for managing the contacts and other type of data, usually gathered at the events. The project was bult on top of Symfony, but leveraged JavaScript for most functionality.</p>
                                    <h5>Poken Hub Mobile</h5>
                                    <p class="text-muted">Mobile version, designed with a new experience in mind, rendered mainly on the server, and using the mobile client just for interactions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>03/2005<br/>-<br/>05/2010</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Inspire</h4>
                                    <h4 class="subheading">Founder &amp; CEO</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Founded a top design and development company that offered premium services to the most important companies form the regional market and built over 30 projects, including complex tools on top of PHP and JavaScript.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>