<!-- Hire Section -->
    <section id="talk" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Full-Stack Developer</h2>
                    <h3 class="section-subheading text-muted">Currently looking for a new challenge in San Francisco</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>I'm looking to find a place with people that share the same values and are passionate about delivering great experiences. I'm ready to move wherever I can find those amazing people to work with, and a great cause, that can stir my passion and an enviroment that will push me to give my best, learn and become better.</p>
                </div>
                <div class="col-md-4">
                    <h5>Passion</h5>
                    <p class="text-muted">I'm driven by passion, I love waking up every morning and do something that I care for, it brings me in a zone where I can create amazing stuff and it gives me an infinite source of energy. I believe that you should do the things you love, and do it often, this is the only way to do great work and add value.</p>
                </div>
                <div class="col-md-4">
                    <h5>People</h5>
                    <p class="text-muted">Working with amazing people brings out the best in me. It makes me learn faster and push myself all the time.I feel that a great team it is the most important factor to the success of any product.</p>
                </div>
                <div class="col-md-4">
                    <h5>Focus</h5>
                    <p class="text-muted">I believe that simplicity is an art, that you can only master when you understand the product. By making sure that you keep things simple, you can get the details that matter right.</p>
                </div>
            </div>
        </div>
    </section>