<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">I'm familiar with the following:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="service-heading">Server Side</h4>

                    <h6>Languages</h6>
                    <p class="text-muted">JavaScript, Go, PHP, Python, Ruby</p>

                    <h6>Frameworks</h6>
                    <p class="text-muted">Node.js, Express, Koa, Hapi, Meteor, Kohana, Symfony, Tornado, Bottle, Sinatra</p>

                    <h6>Knowledge</h6>
                    <p class="text-muted">OOP, (H)MVC, DRY, Agile, REST, ORM, Design Patterns</p>

                    <h6>Databases</h6>
                    <p class="text-muted">MySQL, MongoDB, Redis</p>
                </div>
                <div class="col-md-6">
                    <h4 class="service-heading">Client Side</h4>

                    <h6>Languages</h6>
                    <p class="text-muted">JavaScript, CoffeeScript, HTML5, CSS, XSLT, LESS, Stylus, SASS</p>

                    <h6>Frameworks</h6>
                    <p class="text-muted">Ember, Angular, Backbone, Polymer, React, Ampersand</p>

                    <h6>Knowledge</h6>
                    <p class="text-muted">Web Semantics, Web Standards, Cross-browser Compatibility, SEO, DOM Manipulation, AJAX, Mobile Web Development, UX, UI Design (Grids, Colors, Typography), Usability, Accessibility, Wireframing, A/B Testing</p>

                    <h6>Tools</h6>
                    <p class="text-muted">Photoshop, Pixelmator, Sketch</p>
                </div>
            </div>
        </div>
    </section>